<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81956839989-6d9ckld7afjuh1nkfdujafqc4e3gbcpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81956839989-6d9ckld7afjuh1nkfdujafqc4e3gbcpr</string>
	<key>API_KEY</key>
	<string>AIzaSyBxI1hE94RVngrfJcxw_UE7iN_ZglRz75k</string>
	<key>GCM_SENDER_ID</key>
	<string>81956839989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invertase.RTChat</string>
	<key>PROJECT_ID</key>
	<string>rtchat-702f9</string>
	<key>STORAGE_BUCKET</key>
	<string>rtchat-702f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81956839989:ios:7805b7016d8d093c39877c</string>
	<key>DATABASE_URL</key>
	<string>https://rtchat-702f9.firebaseio.com</string>
</dict>
</plist>